<!-- our product area start -->
<section class="product-area padding-top-110 padding-bottom-90" id="product">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center"><!-- section title -->
                    <h2 class="title">Our Products</h2>
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor  tempor incididunt ut labore et dolore </p>   
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-carousel">
                    <div class="single-product-item"><!-- single product item -->
                        <div class="thumb">
                            <img src="{{'01.jpg' | asset_url}}" alt="product image">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Smart Watch</a></h4>   
                            <div class="price-wrap"><span class="price">$34</span> <del>$55</del></div> 
                            <a href="#" class="boxed-bt">Buy Now</a>
                        </div>
                    </div><!-- //. single product item -->
                    <div class="single-product-item"><!-- single product item -->
                        <div class="thumb">
                            <img src="{{'02.jpg' | asset_url}}" alt="product image">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">V7t watch</a></h4>   
                            <div class="price-wrap"><span class="price">$34</span> <del>$55</del></div> 
                            <a href="#" class="boxed-bt">Buy Now</a>
                        </div>
                    </div><!-- //. single product item -->
                    <div class="single-product-item"><!-- single product item -->
                        <div class="thumb">
                            <img src="{{'03.jpg' | asset_url}}" alt="product image">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">t2f Watch</a></h4>   
                            <div class="price-wrap"><span class="price">$34</span> <del>$55</del></div> 
                            <a href="#" class="boxed-bt">Buy Now</a>
                        </div>
                    </div><!-- //. single product item -->
                    <div class="single-product-item"><!-- single product item -->
                        <div class="thumb">
                            <img src="{{'04.jpg' | asset_url}}" alt="product image">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">i21 Watch</a></h4>   
                            <div class="price-wrap"><span class="price">$34</span> <del>$55</del></div> 
                            <a href="#" class="boxed-bt">Buy Now</a>
                        </div>
                    </div><!-- //. single product item -->
                    <div class="single-product-item"><!-- single product item -->
                        <div class="thumb">
                            <img src="{{'05.jpg' | asset_url}}" alt="product image">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">f25 Watch</a></h4>   
                            <div class="price-wrap"><span class="price">$34</span> <del>$55</del></div> 
                            <a href="#" class="boxed-bt">Buy Now</a>
                        </div>
                    </div><!-- //. single product item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our product area end -->