
<div class="header-area" id="home">
    <div class="span-1">
        <img src="{{'trinagle.png' | asset_url}}" alt="tringle">
    </div> 
    <div class="span-2">
        <img src="{{'circle-shape.png' | asset_url}}" alt="tringle">
    </div> 
    <div class="span-3">
        <img src="{{'square-shape.png' | asset_url}}" alt="tringle">
    </div> 
    <div class="span-4">
        <img src="{{'ball.png' | asset_url}}" alt="tringle">
    </div> 
    <div class="header-area-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-inner"><!-- header inner -->
                        <h1 class="title wow FadeInDown">Best digital watch for your daily life</h1>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn btn-rounded reverse-color"><i class="fas fa-shopping-cart"></i> Order Now</a>
                        </div>
                    </div><!-- //. header inner -->
                </div>
            </div>
        </div>
    </div>
   <div class="header-right-image">
        <div class="right-image-with-price header-right-image-animation">
            <div class="price-wrap">
                <span class="price"><strong>50%</strong> Off</span>
            </div>
            <img src="{{'header-right.png' | asset_url}}" alt="header right image">
        </div>
   </div>
</div>
<!-- header area end -->